.card {
    width: 50%;
    border: 1px solid lightgrey;
    min-height: 400px;
    margin-right: 20px;
    padding: 20px;
}
.description {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;

}

.image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
        margin-right: 0;
        margin-bottom:20px;
    }
}

@media only screen and (min-width: 600px) {
    .card {
        width: 100%;
        margin-right: 0;
        margin-bottom:20px;
    }

}





