.quotes {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
}

.time {
    font-size: 150px;
    padding: 0 25px;
}

.mantra {
    font-size: 38px;
    line-height: normal;
    padding: 0 25px;
    text-align:center;
}

.quote {
    position: absolute;
    bottom:0;
    padding: 0 25px 25px 25px;
    text-align:center;
}

.theQuote {
    margin: 0 auto;
}

.theAuthor {
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .time { 
        font-size: 60px;
    }
    .mantra {
        font-size: 28px;
    }
}