.cardRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .cardRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .cardRow {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
  }


}

@media only screen and (min-width: 992px) {
  .cardRow {
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}


