.button {
  padding: 10px 30px;
  border: none;
  background-color: lightgreen;
  outline: none;
}

.svg {
  height: 20px;
}
.blog {
  display: flex;
  flex-direction: column;
  /* max-width: 80%; */
  /* overflow: hidden; */
}

.post {
  list-style: none;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgb(64 60 67 / 16%);
}

.postImg {
  max-width: 35%;
}

.blogHeader {
  padding-top: 26px;
}

@media only screen and (max-width: 768px) {
  .blog {
    max-width: 100%;
  }
}
